# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# Temporary
*~

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr